# dependencies
/node_modules/
/*/node_modules/
/docs/examples/node_modules/

# stored trained models
/server/models/
/models/

# tsc built
/*/dist/
/docs/examples/dist/
# tsc --build state
*.tsbuildinfo

# system specifics files
.metals/
.idea/
.vscode/
*.DS_Store

# python venv
.venv/
