# dependencies
/node_modules/
/docs/examples/node_modules/
/*/node_modules/

# stored trained models
models/

# tsc built
dist/
# tsc --build state
*.tsbuildinfo

# system specifics files
.metals/
.idea/
.vscode/
*.DS_Store

# python venv
.venv/
