@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-*: initial;
  --font-sans: cairo, sans-serif;
  --font-disco: AmpleSoftMedium;

  --color-disco-cyan: #6096ba;
  --color-disco-blue: #274c78;
  --color-disco-orange: #fb923c;

  --color-disco-dark-cyan: #1f3a4f;
  --color-disco-dark-blue: #12263a;

  --color-disco-light-cyan: #8ab9d3;
  --color-disco-light-blue: #4a7ca1;

  --color-body-light: #475569;
  --color-body-dark: #e2e8f0;

  --color-body-secondary-light: #64748b;
  --color-body-secondary-dark: #cbd5e1;

  --color-heading-light: #334155;
  --color-heading-dark: #fff;
}