name: lint-test-build
on:
  push:
    branches: production
  pull_request:

jobs:
  download-datasets:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
          submodules: true
      - uses: actions/cache@v4
        with:
          path: datasets
          key: datasets-${{ hashFiles('datasets/**') }}
      - run: ./datasets/populate

  lint-lib-core:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: npm
      - run: npm ci
      - run: npm --workspace=./discojs/discojs-core run lint

  lint-lib-node:
    needs: build-lib-core
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: npm
      - run: npm ci
      - run: npm --workspace=./discojs/discojs-core run build
      - run: npm --workspace=./discojs/discojs-node run lint

  lint-lib-web:
    needs: build-lib-core
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: npm
      - run: npm ci
      - run: npm --workspace=./discojs/discojs-core run build
      - run: npm --workspace=./discojs/discojs-web run lint

  lint-server:
    needs: [build-lib-core, build-lib-node]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: npm
      - run: npm ci
      - run: npm --workspace=./discojs/discojs-{core,node} run build
      - run: npm --workspace=./server run lint

  lint-cli:
    needs: [build-lib-core, build-lib-node, build-server]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: npm
      - run: npm ci
      - run: npm --workspace={./discojs/discojs-{core,node},./server} run build
      - run: npm --workspace=./cli run lint

  lint-web-client:
    needs: [build-lib-core, build-lib-web]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: npm
      - run: npm ci
      - run: npm --workspace=./discojs/discojs-{core,web} run build
      - run: npm --workspace=./web-client run lint

  lint-docs-examples:
    needs: [build-lib-core, build-lib-node, build-server]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: npm
      - run: npm ci
      - run: npm --workspace={./discojs/discojs-{core,node},./server} run build
      - run: npm run lint
        working-directory: docs/examples

  build-lib-core:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: npm
      - run: npm ci
      - run: npm --workspace=./discojs/discojs-core run build

  build-lib-node:
    needs: build-lib-core
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: npm
      - run: npm ci
      - run: npm --workspace=./discojs/discojs-core run build
      - run: npm --workspace=./discojs/discojs-node run build

  build-lib-web:
    needs: build-lib-core
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: npm
      - run: npm ci
      - run: npm run --workspace=./discojs/discojs-core build
      - run: npm run --workspace=./discojs/discojs-web build

  build-server:
    needs: [build-lib-core, build-lib-node]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: npm
      - run: npm ci
      - run: npm run --workspace=./discojs/discojs-{core,node} build
      - run: npm run --workspace=./server build

  build-server-docker:
    needs: build-server
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
        with:
          install: true
      - run: docker build .

  build-cli:
    needs: [build-lib-core, build-lib-node, build-server]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: npm
      - run: npm ci
      - run: npm run --workspace={./discojs/discojs-{core,node},./server} build
      - run: npm run --workspace=./cli build

  build-web-client:
    needs: [build-lib-core, build-lib-web]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: npm
      - run: npm ci
      - run: npm --workspace=./discojs/discojs-{core,web} run build
      - run: npm --workspace=./web-client run build

  build-docs-examples:
    needs: [build-lib-core, build-lib-node, build-server]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: npm
      - run: npm ci
      - run: npm --workspace={./discojs/discojs-{core,node},./server} run build
      - run: npm run build
        working-directory: docs/examples

  test-lib-core:
    needs: [build-lib-core, download-datasets]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
          submodules: true
      - uses: actions/cache@v4
        with:
          path: datasets
          key: datasets-${{ hashFiles('datasets/**') }}
      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: npm
      - run: npm ci
      - run: npm --workspace=./discojs/discojs-core test

  test-lib-node:
    needs: [build-lib-core, download-datasets]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
          submodules: true
      - uses: actions/cache@v4
        with:
          path: datasets
          key: datasets-${{ hashFiles('datasets/**') }}
      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: npm
      - run: npm ci
      - run: npm --workspace=./discojs/discojs-core run build
      - run: npm --workspace=./discojs/discojs-node test

  test-lib-web:
    needs: [build-lib-core]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
          submodules: true
      - uses: actions/cache@v4
        with:
          path: datasets
          key: datasets-${{ hashFiles('datasets/**') }}
      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: npm
      - run: npm ci
      - run: npm --workspace=./discojs/discojs-core run build
      - run: npm --workspace=./discojs/discojs-web test

  test-server:
    needs: [build-lib-core, build-lib-node, download-datasets]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
          submodules: true
      - uses: actions/cache@v4
        with:
          path: datasets
          key: datasets-${{ hashFiles('datasets/**') }}
      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: npm
      - run: npm ci
      - run: npm --workspace=./discojs/discojs-{core,node} run build
      - run: npm --workspace=./server test

  test-web-client:
    needs: [build-lib-core, build-lib-web, download-datasets]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
          submodules: true
      - uses: actions/cache@v4
        with:
          path: datasets
          key: datasets-${{ hashFiles('datasets/**') }}
      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: npm
      - run: npm ci
      - run: npm --workspace=./discojs/discojs-{core,web} run build
      - run: npm --workspace=./web-client run test:unit
      - uses: cypress-io/github-action@v6
        with:
          working-directory: ./web-client
          install: false
          start: npm start
        env:
          VITE_SERVER_URL: http://server

  test-cli:
    needs: [build-lib-core, build-lib-node, build-server, download-datasets]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
          submodules: true
      - uses: actions/cache@v4
        with:
          path: datasets
          key: datasets-${{ hashFiles('datasets/**') }}
      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: npm
      - run: npm ci
      - run: npm --workspace={./discojs/discojs-{core,node},./server} run build
      - run: npm --workspace=./cli start -- -t cifar10 -u 3 -e 1

  test-docs-examples:
    needs: [build-lib-core, build-lib-node, build-server, download-datasets]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
          submodules: true
      - uses: actions/cache@v4
        with:
          path: datasets
          key: datasets-${{ hashFiles('datasets/**') }}
      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: npm
      - run: npm ci
      - run: npm --workspace={./discojs/discojs-{core,node},./server} run build
      - run: npm run test
        working-directory: docs/examples
